form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h4 {
    font-size: 1.75rem;
    margin-bottom: 0.75rem !important;
    font-weight: 400;
  }

  .form-group {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    label {
      font-weight: 600;
      font-size: 1.075rem;
      margin-bottom: .5rem;
    }

    input {
      background-color: var(--form-control-bg);
      border-color: var(--form-control-bg);
      color: var(--form-control-color);
      transition: color 0.2s ease,
        background-color 0.2s ease;
      min-height: 40px;
      padding-right: calc(1.5em + 1.5rem);
      width: calc(100% - (1.5em + 1.5rem));
      border-radius: 0.625rem;
      font-size: 1.15rem;
      border: 1px solid #e4e6ef;
      text-indent: 1rem;
      margin-bottom: 1.25rem;
      width: 100%;

      &:focus {
        outline: none;
        background-color: darken(#eef3f7, 2%);
      }

      .is-invalid {
        background-image: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 12 12%27 width=%2712%27 height=%2712%27 fill=%27none%27 stroke=%27%23f1416c%27%3e%3ccircle cx=%276%27 cy=%276%27 r=%274.5%27/%3e%3cpath stroke-linejoin=%27round%27 d=%27M5.8 3.6h.4L6 6.5z%27/%3e%3ccircle cx=%276%27 cy=%278.2%27 r=%27.6%27 fill=%27%23f1416c%27 stroke=%27none%27/%3e%3c/svg%3e');
        background-repeat: no-repeat;
        background-position: right calc(0.375em + 0.375rem) center;
        background-size: calc(0.75em + 0.75rem) calc(0.75em + 0.75rem);
      }
    }
  }

  .submit-button {
    padding: calc(0.825rem + 1px) calc(1.75rem + 1px);
    width: 100%;
    background-color: var(--brand-color);
    text-align: center;
    color: white;
    border: 0;
    border-radius: 0.625rem;
    transition: background-color .3s ease-in;
    font-size: 1.15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    &:hover{
      background-color: darken(#0095e8, 10%);
    }
  }
}
