<div class="action-table p-3">
  <div class="actions px-3">
    <div class="mb-3 row">
      <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Search with username:</label>
      <div class="col-xs-3 col-sm-auto">
        <input id="table-complete-search" type="text" class="form-control" name="searchTerm" [(ngModel)]="userSearch"
          (change)="filterUsers()" />
      </div>
    </div>

    <div class="user-actions">
      <span class="user-view action-button" title="add user" (click)="showAddEditUserModal = true">
        <i class="bi bi-person-fill-add"></i>
      </span>
      <span class="user-view" title="view app as a user" [routerLink]="['../user']">
        <i class="bi bi-person-video3"></i>
      </span>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Full Name</th>
        <th scope="col">UserName</th>
        <th scope="col">Email</th>
        <th scope="col">City</th>
        <th scope="col">Phone</th>
        <th scope="col">actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users$ | async">
        <th scope="row">{{ user.id }}</th>
        <td>
          {{user.name}}
        </td>
        <td>
          {{user.username}}
        </td>
        <td>
          {{user.email}}
        </td>
        <td>
          {{user.address.city}}
        </td>
        <td>
          {{user.phone}}
        </td>
        <td>
          <app-user-actions (refreshList)="filterUsers()" [selectedUser]="user"></app-user-actions>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-add-edit-user [showAddEditUserModal]="showAddEditUserModal" (closePopup)="closeAddEditUser()"></app-add-edit-user>