.login-body {
  background-image: url('/assets/images/login-sketch.png');
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: contain;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  .logo {
    margin-bottom: 3rem !important
  }

  .login-form-container {
    background-color: #ffffff !important;
    --bg-color: 255, 255, 255 !important;
    padding: 3.75rem !important;
    width: 500px !important;
    border-radius: 0.475rem !important;
    box-shadow: 0 0.1rem 1rem 0.25rem rgba(0, 0, 0, 0.05) !important;
  }
}
