<div *ngIf="showAddEditUserModal" class="modal fade" id="deleteUser" [ngClass]="{'show': showAddEditUserModal}">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Choose Your File</h5>
        <button (click)="closePopupfn()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="userForm">
          <div class="form-group">
            <label for="email">Email</label>
            <input formControlName="email" type="email" name="email" id="email" aria-describedby="emailHelp"
              placeholder="Enter email" [ngClass]="{'is-invalid':userForm.controls['email'].invalid &&
        (userForm.controls['email'].dirty ||
        userForm.controls['email'].touched)}" />
            <div *ngIf="
                userForm.controls['email'].invalid &&
                (userForm.controls['email'].dirty ||
                  userForm.controls['email'].touched)
              " class="invalid-feedback">
              <div *ngIf="userForm.controls['email'].errors?.['required']">
                email is required.
              </div>
            </div>
          </div>
  
          <div class="form-group">
            <label for="name">Name</label>
            <input formControlName="name" type="text" name="name" id="name" aria-describedby="nameHelp"
              placeholder="Enter name" [ngClass]="{'is-invalid':userForm.controls['name'].invalid &&
        (userForm.controls['name'].dirty ||
        userForm.controls['name'].touched)}" />
            <div *ngIf="
                userForm.controls['name'].invalid &&
                (userForm.controls['name'].dirty ||
                  userForm.controls['name'].touched)
              " class="invalid-feedback">
              <div *ngIf="userForm.controls['name'].errors?.['required']">
                Name is required.
              </div>
            </div>
          </div>
  
          <div class="form-group">
            <label for="username">Username</label>
            <input formControlName="username" type="text" name="username" id="username"
              aria-describedby="usernameHelp"
              placeholder="Enter username" [ngClass]="{'is-invalid':userForm.controls['username'].invalid &&
        (userForm.controls['username'].dirty ||
        userForm.controls['username'].touched)}" />
            <div *ngIf="
                userForm.controls['username'].invalid &&
                (userForm.controls['username'].dirty ||
                  userForm.controls['username'].touched)
              " class="invalid-feedback">
              <div *ngIf="userForm.controls['username'].errors?.['required']">
                Username is required.
              </div>
            </div>
          </div>
  
          <div class="form-group">
            <label for="phone">Phone</label>
            <input formControlName="phone" type="tel" name="phone" id="phone"
              aria-describedby="phonemeHelp" placeholder="Enter phone"
              [ngClass]="{'is-invalid':userForm.controls['phone'].invalid &&
        (userForm.controls['phone'].dirty ||
        userForm.controls['phone'].touched)}" />
            <div *ngIf="
                userForm.controls['phone'].invalid &&
                (userForm.controls['phone'].dirty ||
                  userForm.controls['phone'].touched)
              " class="invalid-feedback">
              <div *ngIf="userForm.controls['phone'].errors?.['required']">
                Phone is required.
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" (click)="updateUser()" class="btn btn-primary" data-dismiss="modal"
          *ngIf="selectedUser; else addButton">
          update
        </button>
        <ng-template #addButton>
          <button type="submit" (click)="addUser()" class="btn btn-primary" data-dismiss="modal">
            add
          </button>
        </ng-template>
        <button (click)="closePopupfn()" type="button" data-dismiss="modal" class="btn btn-outline-danger">
          cancel
        </button>
      </div>
    </div>
  </div>
</div>
