:root {
  --brand-color: #0095e8;
  --alert-bg: #fcd9e2;
  --error-bg-color: #da1e42;
  --bs-alert-border-color: #fbc6d3;
  --error-color: #912741;
  --success-color: #51a300;
  --warning-color: #f7b500;
  --text-color: #ffffff;
  --form-control-bg: #eef3f7;
  --form-control-color: #5e6278;
}
