.nav-bar-container{
  width: 100%;
  position: sticky;
  background: white;
  box-shadow: rgb(220, 220, 220) 0px 2px 10px;
  padding: 20px 0;
  
  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1320px;

    .actions{
      display: flex;
      gap: 10px;
    }

    .action-button{
      border-radius: 1.75rem;
      padding: 1rem 1.75rem;
      background-color: white;
      color: black;
      transition: all .3s;
      cursor: pointer;

      &:hover{
        background-color: var(--brand-color);
        color: white;
      }
    }
  }
}